/* PALETA DE COLORES */
/* color: #3a5a40 verde oscuro*/ 
/* color: #588157 verde mas claro*/
/* color: #a3b18a verde casi beige */
/* color: #dad7cd gris claro */
/* color: #344e41 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Lato:ital,wght@0,300;0,700;1,400&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-flex {
    height: 28vh;
    background-color:#dad7cd;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.logo img {
    width: 200px;
    height: 200px;
    display: flex;
}

.header-flex ul {
    display: flex;
    list-style: none;
}

.header-flex li {
    margin: 2rem;
}

.header-flex a{
    color: #3a5a40;
}

.banner-hero{
    background-image:url("../recursos/Espacio\ frente.jpg");
    height: 130vh;
    background-size:cover; 
}

.banner-hero h2 {
    text-align: center;
    color:#3a5a40;
    position:relative;
    text-align-last: center;
    top: 8%;
    
}

.titulo-somos {
    height: 15vh;
    color:#3a5a40 ;
    text-align: center;
    display: flex-end;
    background-color:white;
}

/* Grilla de productos */
.productos-grid {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.producto1 img {
    width: 50vw;
}

.producto2 img {
    width: 50vw;
}

.producto3 img {
    width: 50vw;
}
.producto4 img {
    width: 50vw;
    
}

.producto5 img{
    width: 50vw;
}

.producto6 img {
    width: 50vw;
}



/* MENÚ */
.grid-padre { 
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Menú-1 Menú-2"
    "Menú-1 Menú-2"
    "Menú-1 Menú-2"
    "Hacer-pedido- Hacer-pedido-";
}

.Menú-1 { grid-area: Menú-1; 
background-color:white;}

.clasicos {
    width: 50vw;
}

.Menú-2 { grid-area: Menú-2;
background-color: rgb(255, 255, 255); }

.Hacer-pedido- { grid-area: Hacer-pedido-;
background-color:#000000; 
}

.Hacer-pedido- {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Hacer-pedido- h3 {

    color: #3a5a40;
}

.footer-flex {
    background-color:#344e41 ;
}

.footer-flex ol {
    display: flex;
    list-style: none;
}

.footer-flex h3 {
    color:#dad7cd ;
}

.footer-flex li {
    margin: 0.5rem;
}

.menu-footer li a{
    color:#dad7cd;
}


/* Media query para dispositivos pequeños */
@media (max-width: 425px) {
    .header-flex {
        display: grid;
        align-content: center ;
        height: 65vh;
        justify-items: center;
        
    }
    .header-flex li {
        margin: 1rem;
    }
}




