.footer-flex {
    background-image: linear-gradient(to bottom, #588157d7, #3a5a40 ) ;
}

.footer-flex ol {
    display: flex;
    list-style: none;
}

.footer-flex h3 {
    color:#a3b18a ;
}

.footer-flex li {
    margin: 0.5rem;
}

.menu-footer li a{
    color:#a3b18a;
    margin: 1rem;
}
.menu-footer li:hover{
    background-color:#3a5a40;
    transform: scale(1.2);
    }
.redes {
    font-size: 25px;
}