.carousel-caption {
    color: #3a5a40 ;
}

.card-final {
    @extend .banner-hero
}

.banner-hero{
    background-color: whitesmoke;
    height: 12vh;
    background-size:cover; 
    background-position: center;
} 

.banner-hero h2 {
    text-align: center;
    color:#3a5a40;
    position:relative;
    text-align-last: center;
    top: 22%;
    
}

@media (max-width:720px) {
    .main-index {
        min-height: auto;        
        min-width: 720px;
    }
}
