/*Menú*/
.grid-main {
    display: flex;
    background-color:#dad7cd;
    /*background-image:  linear-gradient(to bottom,#a3b18a, #dad7cd ); */
    flex-direction: column; 
}
.grid-padre { 
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
    "Menú-1 Menú-1"
    "Menú-1 Menú-1"
    "Menú-2 Menú-2"
    "Menú-2 Menú-2"
    "Hacer-pedido- Hacer-pedido-";
}

.Menú-1 { grid-area: Menú-1; }

.clasicos {
    width: 50vw;
}

.Menú-2 { grid-area: Menú-2;}

.Hacer-pedido- { grid-area: Hacer-pedido-;
background-color: white;
}

.Hacer-pedido- {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Hacer-pedido- h3{
    color: #3a5a40;
    background-color: #a3b18a;
}
.Hacer-pedido- a{
    color: #3a5a40;
}
.Hacer-pedido- a:hover{
    background-color:#a3b18a;
    transform: scale(1.2);
}

.Hacer-pedido- {
    background-color:#dad7cd
}

@media (max-width:720px) {
    .grid-main {
        min-height: 1100px;
        min-width: 720px;
    }

    .header-menu {
        min-width: 720px;
    }
    
    .footer-flex {
        min-width: auto;
    }
}