.accordion {
    max-width: 75vw;
    margin: auto;
    height: 90vh;
}
.main-faqs {
    background-image: linear-gradient(to bottom,#a3b18a, #dad7cd );
}

.--bs-accordion-transition {
    color: #dad7cd;
}