.banner-hero{
    background-image:url("../recursos/Espacio\ frente.jpg");
    height: 130vh;
    background-size:cover; 
    background-position: center;
}

.banner-hero h2 {
    text-align: center;
    color:#3a5a40;
    position:relative;
    text-align-last: center;
    top: 6%;
    
}